.more-btn {
  border: 1px solid #c0c4cc;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  min-width: 105px;
  border-radius: 30px;
  cursor: pointer;
}

img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}
